ol{
    display: flex;
    background-color: rgb(77, 73, 73);
}
ol li{
    padding: 2%;
    list-style-type: none;
}
ol li a{
    color: antiquewhite;
    text-align: left;
    text-decoration: none;
    padding: 10px;
}
ol li a:hover{
    padding:20px 15px 20px 15px;
    background-color: black;
}